<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WeeSe</title>

    <!-- Bootstrap CSS LOCALE -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Font Awesome CSS LOCALE -->
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Index">
                    <img src="~/img/weese_logo.jpg" alt="WeeSe Logo" class="navbar-logo" />
                    WeeSe
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index">
                                <i class="fas fa-tachometer-alt"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-cogs"></i> Configurazione
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" asp-controller="GestioneUtenze" asp-action="Index">
                                        <i class="fas fa-users"></i> Gestione Utenze
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="GestioneListini" asp-action="Index">
                                        <i class="fas fa-list-alt"></i> Gestione Listini
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-business-time"></i> Gestione
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <li>
                                    <a class="dropdown-item" asp-controller="Preventivi" asp-action="Index">
                                        <i class="fas fa-calculator"></i> Preventivi
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Ordini" asp-action="Index">
                                        <i class="fas fa-shopping-cart"></i> Ordini
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Commesse" asp-action="Index">
                                        <i class="fas fa-project-diagram"></i> Commesse
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> @User.Identity.Name
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUser">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-user-cog"></i> Profilo
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                            <button type="submit" class="dropdown-item">
                                                <i class="fas fa-sign-out-alt"></i> Logout
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">
                                    <i class="fas fa-sign-in-alt"></i> Login
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - WeeSe Configuratore Vetrate - <i class="fas fa-code"></i> Sistema Professionale
        </div>
    </footer>

    <!-- jQuery LOCALE -->
    <script src="~/lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap JS LOCALE -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
